.footer__contacts
{
  color: #292929;
  font-weight: normal;
  font-size: rem(21px);
  @include phones
  {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__container
{
  @include phones
  {
    flex-direction: column;

  }
}