.menu
{
 
  @include tablets{
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  .menu__item {
    font-size: rem(16px);
    display: flex;
    flex: 1;
    margin-right: rem(20px);
    margin-bottom: 10px;

    &__item:last-child {
      margin-right: 0;
    }
  }

  .menu__link {
    text-decoration: none;
    color: $color-white;
    font-weight: bold;
    font-size: rem(18px);
  }
}

