.socials__section
{
  &-vk
  {
    background-image: url(../pictures/socials/vk.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &-f
  {
    background-image: url(../pictures/socials/f.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &-inst
  {
    background-image: url(../pictures/socials/inst.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &-tw
  {
    background-image: url(../pictures/socials/tw.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
}