.benefits
{
  color: $color-grey;
  display: flex;
  @include phones
  {
    flex-direction: column;
  }
  &__item
  {
    flex: 1; 
    padding: 0 3%;
    position: relative;
    @include phones
    {
      padding: 0;
    }
    &::after
    {
      @include phones
      {
        display: none;
      }
      content: url(../pictures/benefit/separator-1.png);
      position:absolute;
      top: rem(30px);
      right: 0;
      transform: translateX(50%);

    }
    &:first-child
    {
      padding-left: 0;
      &::before
      {
        display: none;
      }
    }
    &:last-child
    {
      padding-right: 0;
    }
  }
 
}

.benefits::after:last-child
{
  display: none;
}