.delivery__section
{
  background-image: url(../pictures/backgrounds/delivery-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: $color-white;
}