.greetings__features {

  display: flex;

  .feature__item-wrap {
    max-width: 90px;
  }

  .feature__item {
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 65px;
    margin-right: 33px;
    padding-bottom: 70px;
  }

  .feature__item:last-child {
    margin-right: 0;
  }

  .feature__img {
    margin-right: 10px;
    width: 45px;
  }
}