.fixed-menu {
  position: fixed;
  top: 29%;
  right: 3%;
  z-index: $z-fixed-menu;

  &__item {
    margin-bottom: rem(5px);

  }

  &__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;
    &::before
    {
      content: "";
      display: block;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }
}

.fixed-menu__item {
  &--active {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}