.form
{
  display: flex;
  @include tablets
  {
    flex-direction: column;
    padding: 0 19%;
  }
  @include phones
  {
    padding: 0;
  }
  
  &__col
  {
    flex: 1;
    margin-right: rem(20px);
    &:last-child
    {
      margin-right: 0;
    }
    @include tablets
    {
      margin-right: 0;
    }
  }
  &__row
  {
    display: flex;
    margin-bottom: rem(18px);
  }
  &__title
  {
    margin-bottom: rem(2px);
  }
  &__controls
  {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);
    @include phones
    {
      justify-content: center;
    }

    &:last-child
    {
      margin-bottom: 0;
    }
  }
  &__buttons
  {
    margin-top: rem(47px);
    display: flex;
    justify-content: center;
  }
}

.form__block
{
  flex: 1;
  margin-right: rem(20px);
  &:last-child
  {
    margin-right: 0;
  }
}

.form__input
{
  width: 100%;
  border: none;
  padding: rem(18px) rem(12px) rem(20px) rem(12px);
  border: rem(3px) solid transparent;
  &:focus
  {
    border-color: #FEDB3F;
    outline: none;
  }
  &--textarea
  {
    height: rem(160px);
    resize: none;
  }
}

