.hero {
  background-image: url(../pictures/backgrounds/hero-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  color: $color-white;
  @include tablets
  {
    background-position: left bottom;
  }
}

