.interactive-avatar
{
  width: rem(74px);
  height: rem(74px);
  border: rem(6px) solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  &_active
  {
    border-color: #FEDB3F;
  }
  &__link
  {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
  }
  &__img
  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
