.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  &--chekbox
  {
    .radio__visible
    {
      border-radius: 0;


      &::before
      {
        background: url(../../pictures/logos/tick.png);
      }
      
    }
  }

  &__visible {
    height: 25px;
    width: 25px;
    position: relative;
    border-radius: 50%;
    background-color: #fff ;
    margin-right: 10px;
    &::before
    {
      content: " ";
      width: 13px;
      height: 13px;
      display: none;
      border-radius: 50%;
      background-color:#FEDB3F ;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.radio__elem
{
  display: none;
  &:checked ~ .radio__visible
  {
    &::before
    {
      display: block;
    }
  }
}