.reviews__display
{
  
  background: #F8FAF9;
  padding: rem(55px) rem(42px) rem(55px) rem(42px);
  &-inner
  {
    display: flex;
  }
}

.reviews__avatar
{
  width: rem(254px);
  height: rem(264px);
  &-img
  {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.reviews__content
{
  flex: 1;
  margin-left: rem(35px);
}

.reviews__title
{
  font-weight: bold;
  font-size: rem(27px);
  margin-top: rem(25px);
  margin-bottom: rem(22px);
  color: black;
}

.reviews__text
{
  margin-bottom: rem(50px);
  color: #666666;
  font-weight: normal;
  font-size: rem(18px);
}

.reveiws__author
{
  font-weight: 500;
  font-size: rem(18px);
  color: black;
}

.reviews__switcher
{
  display: flex;
  justify-content: center;
}