
.section
{
  height: 100vh;
  min-height: 652px;
  @include tablets
  {
   min-height: 908px;
  }
  @include phones
  {
   min-height: 925px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title
  {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color:#292929 ;
  }
}

.headline__title
{
  margin-bottom: rem(25px);
  &__subtitle
  {
    color: #666;
  }
}