.section__title {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}
.delivery__title
{
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  text-align:center;
  margin-bottom: 70px;
}

.greetings__title-wrap {
  width: 575px;
  margin-bottom: 20px;

  .greetings__title
  {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  }

}

.greetings__title__decs {
  font-weight: normal;
  font-size: 21px;
  margin-bottom: 38px;
}


