
.delivery__title
{
  color: #fff;
  font-weight: bold;
  font-size: rem(48px);
  text-transform: uppercase;
  text-align:center;
  margin-bottom: rem(70px);
}

.greetings__title-wrap {
  width: 60%;
  @include tablets
  {
     width: 100%;
     flex: 1;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center; 
     text-align: center;  
     padding: 0 19%;
     
  }
  @include phones
  {
    padding: 0 3%;
  }

  .greetings__title
  {
  font-weight: bold;
  font-size: rem(48px);
  margin-bottom: rem(20px);
  text-transform: uppercase;
  @include phones
  {
    font-size: rem(30px);
  }
  }

}

.greetings__title__decs {
  font-weight: normal;
  font-size: rem(21px);
  margin-bottom: rem(38px);
}


