@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");
@import url(../layout/normalize.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0px;
}

img {
  display: block;
}

html {
  font-size: 18px;
}

.body {
  margin: 0px;
  line-height: 1.42;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  background: #17191C;
  -webkit-font-smoohing: antiliased;
  -moz-osx-font-smoohing: grayscale;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 0 auto;
  width: 85%;
}

.hero {
  background-image: url(../pictures/backgrounds/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: left 100% bottom;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: left 81% bottom;
  }
}

.hero {
  background-image: url(../pictures/backgrounds/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: left 100% bottom;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-position: left 81% bottom;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-color: #1968B1;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.3888888889rem;
  margin-bottom: 5.5555555556rem;
}

@media screen and (max-width: 768px) {
  .contacts__phone.header__contacts__phone {
    display: none;
  }
}

.logo-wrapp {
  padding-right: 2.5555555556rem;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.2222222222rem;
  text-decoration: none;
}
.contacts__tel {
  width: 0.7222222222rem;
  height: 0.7777777778rem;
}

.phone-number__icon {
  margin-right: 0.5555555556rem;
}

.phone-number__text {
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.phone-number__text-footer {
  color: #292929;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.menu__list .menu__item {
  font-size: 0.8888888889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
  margin-bottom: 10px;
}
.menu__list .menu__item__item:last-child {
  margin-right: 0;
}
.menu__list .menu__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .greetings__features-section {
    display: none;
  }
}

.greetings__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.greetings__features .feature__item-wrap {
  max-width: 5rem;
}
.greetings__features .feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 0.8888888889rem;
  margin-top: 3.6111111111rem;
  margin-right: 1.8333333333rem;
  padding-bottom: 3.8888888889rem;
}
.greetings__features .feature__item:last-child {
  margin-right: 0;
}
.greetings__features .feature__img {
  margin-right: 0.5555555556rem;
  width: 2.5rem;
}

.button {
  font-size: 0.7777777778rem;
  font-weight: 700;
  cursor: pointer;
  padding: 1.1666666667rem 2.2777777778rem 1.1666666667rem 2.2777777778rem;
  border-radius: 1.7777777778rem;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

.button__yellow {
  background-color: #FEDB3F;
  color: #000000;
}
.button__yellow:hover {
  background: #FFD517;
}

.button__transperent {
  background: transparent;
  color: #666666;
  margin-left: 1.1111111111rem;
}
.button__transperent:hover {
  color: #FEDB3F;
}

@media screen and (max-width: 768px) {
  .hero__button {
    width: 8.8888888889rem;
    height: 3.3333333333rem;
  }
}

@media screen and (max-width: 768px) {
  .greetings__button-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.delivery__title {
  color: #fff;
  font-weight: bold;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.8888888889rem;
}

.greetings__title-wrap {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .greetings__title-wrap {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .greetings__title-wrap {
    padding: 0 3%;
  }
}
.greetings__title-wrap .greetings__title {
  font-weight: bold;
  font-size: 2.6666666667rem;
  margin-bottom: 1.1111111111rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .greetings__title-wrap .greetings__title {
    font-size: 1.6666666667rem;
  }
}

.greetings__title__decs {
  font-weight: normal;
  font-size: 1.1666666667rem;
  margin-bottom: 2.1111111111rem;
}

.section {
  height: 100vh;
  min-height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 908px;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 925px;
  }
}
.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}
.headline__title__subtitle {
  color: #666;
}

.benefits {
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item::after {
  content: url(../pictures/benefit/separator-1.png);
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::after {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:first-child::before {
  display: none;
}
.benefits__item:last-child {
  padding-right: 0;
}

.benefits::after:last-child {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}
.benefit__title {
  color: #292929;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.1111111111rem;
}
.benefit__image-wrap {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrap {
    margin-top: 1.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 3%;
  }
}
.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .benefit__decs {
    margin-bottom: 0;
  }
}

.headline {
  text-align: center;
  color: #666666;
}
.headline__subtitle {
  margin-bottom: 2.7777777778rem;
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 3.0555555556rem 2.3333333333rem 3.0555555556rem 2.3333333333rem;
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1.9444444444rem;
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1.3888888889rem;
  margin-bottom: 1.2222222222rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2.7777777778rem;
  color: #666666;
  font-weight: normal;
  font-size: 1rem;
}

.reveiws__author {
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar_active {
  border-color: #FEDB3F;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.delivery__section {
  background-image: url(../pictures/backgrounds/delivery-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: #FFFFFF;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.form__title {
  margin-bottom: 0.1111111111rem;
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls:last-child {
  margin-bottom: 0;
}
.form__buttons {
  margin-top: 2.6111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem 1.1111111111rem 0.6666666667rem;
  border: 0.1666666667rem solid transparent;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 8.8888888889rem;
  resize: none;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.5555555556rem;
}
.radio_chekbox .radio__visible {
  border-radius: 0;
}
.radio_chekbox .radio__visible::before {
  background: url(../../pictures/logos/tick.png);
}
.radio__visible {
  height: 1.3888888889rem;
  width: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: " ";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  display: none;
  border-radius: 50%;
  background-color: #FEDB3F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.fixed-menu {
  position: fixed;
  top: 29%;
  right: 3%;
  z-index: 100;
}
.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.section__map {
  background-image: url(../pictures/backgrounds/map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  color: #FFFFFF;
}

.footer__contacts {
  color: #292929;
  font-weight: normal;
  font-size: 1.1666666667rem;
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inst-icon {
  fill: black;
}

.icon:hover {
  color: black;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background-color: #fff;
  height: 4px;
  border-radius: 10px;
}