* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

p {
  margin-top: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.container{
  margin: 0 auto;
  width: $containerWidth;
  height: $containerHeight;
}
.body
{
margin: 0px;
font-size: 16px;
line-height: 1.42;
font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
background:  #17191C;
-webkit-font-smoohing: antiliased;
-moz-osx-font-smoohing: grayscale;
color: $color-grey;
}

.wrapper
{
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow:hidden;
}